*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background: radial-gradient(circle at top , #1a2a3a 0%, #0b0f1a 40%, #070a14 100%);
    color: #eaeaea;
    overflow-x: hidden;
}
.auth-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top left , #1b3b2f,transparent 40%),radial-gradient(circle at top right, #2a1b3b,transparent 45%),radial-gradient(circle at bottom , #02030a,#02030a);
    
}
.error-text {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.auth-card{
    width: 400px;
    padding: 22px;
    background: rgba(18,26,32,0.55);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(120,255,220,0.18);
    color: #dfeeee;
    box-shadow: 0 0 28px rgba(0,0,0,0.6),inset 0 0 12px rgba(120,255,220,0.05);
    transition: border 0.3s ease;
}
.auth-card h2{
    margin-bottom: 20px;
    color: #eff0f2;
    font-weight: 600;
    text-align: center;
}
.box{
    display: flex;
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    
}
.box button{
    flex: 1;
    padding: 10px 0;
    border: none;
    background: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s, color 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.box button.active{
    background: linear-gradient(135deg,#019566,#c8faef);
    font-weight: bold;
    color: #141414;
    box-shadow: 0 0 20px rgba(120,255,220,0.35);
    transition: all 0.3s ease;
}
form input{
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0 20px 0;
    border: 1px solid rgba(120,255,220,0.3);
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    background: rgba(0,0,0,0.3);
    color: white;
    transition: 0.3s ease;
}

form input:focus{
    border: 1px solid #7fffd4;
    box-shadow: 0 0 10px rgba(120,255,220,0.4);
}

.forgot{
    text-align: left;
    font-size: 13px;
    color:#d90311;
    font-weight: 500;
    cursor:pointer;
    margin-bottom: 15px;
}
.submit{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg,#019566,#c8faef);
    color: #030303;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}
.submit:hover{
    background: linear-gradient(135deg , rgb(202, 252, 202),rgb(1, 101, 1));
}
.text{
    margin-top: 15px;
    font-size: 14px;
    color: #fdf6f6;
    cursor: pointer;
    text-align: center;

}
.text a{
    color: #fa4299;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}
.success{
  color: #7fffd4;
}

.error{
  color: red;
}
@media(max-width:480px){
  .auth-card{
    width: 90%;
  }
}
