*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: linear-gradient(to top , #041b49 0% , #b9d3f2 100%);
}
.login-container{
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card{ 
    background-color: rgba(177, 198, 219, 0.6);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
}
.login-card h2{
    margin-bottom: 20px;
    color: #101010;
}
.login-card label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #0d0d0d;
}
.login-card input{
    width: 100%;
    padding: 10px;
    margin-left: -9px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}
.login-card button{
    width: 80%;
    padding: 10px;
    background-color: #01185d;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login-card button:hover{
    background-color: #037b17;
}
.login-card .error-message{
    color: rgb(161, 2, 2);
    margin-top: 10px;
    font-size: 14px;
}
.login-card .forgot-password{
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #667eea;
    text-decoration: none;
}
.login-card .forgot-password:hover{
    text-decoration: underline;
}
@media (max-width: 400px) {
    .login-card {
        width: 90%;
        padding: 20px;
    }
}